<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<table border="0" width="80%" align="center">
    <tr>
        <td><a href="info.html">О ресторане</a><br>
            <a href="info.html">Акции</a><br>
            <a href="info.html">Доставка</a></td>
        <td><a href="info.html">Рестораны</a><br>
            <a href="info.html">Программа лояльности</a><br>
            <a href="info.html">Подарочные карты</a></td>
        <td>Нас можно найти<br>
             <p width="40" ><a href="sms.html"><img src="../static/images/vk.png" width="40"
                height="40" alt="Пример"></a>
                <a href="sms.html"><img src="../static/images/insta.jpg" width="40"
                height="40" alt="Пример"></a>
                <a href="sms.html"><img src="../static/images/tg.png" width="40"
                height="40" alt="Пример"></a>
             </p>
        </td>
    </tr>

</table>
</body>
</html>